body {
    font-family: 'Public Sans', Courier, monospace;
}

/* Content */
.title-page {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}

#search {
    border: none;
    outline: none;
    width: 90%;
}

#currentDateTime {
    position: absolute;
    right: 100px;
    top: 20px;
}

.navbar-collapse {
    border-top: 1px solid gray;
    margin-top: 5px;
}

#alert-messages {
    position: absolute;
    bottom: 0;
}

#loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    place-content: center;
    z-index: 9;
}

.side-bar-custom {
    height: 100vh;
    border-right: 1px dashed #DBDFE3;
}

.nav-item {
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 3px;
}


.nav-item:hover {
    font-weight: 600;
    background: #E9ECEF;
}


.nav-item.active {
    font-weight: 600;
    background: #E9ECEF;
}

.nav-item img {
    margin-right: 10px;
}

.list-group-item {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.list-group-item img {
    margin-right: 10px;
}

.list-group-item a {
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
}

.list-group-item:hover {
    background: #E9ECEF;
}

.list-group-item:hover a {
    color: #000000;
    font-weight: 600;
}


.list-group-item.active {
    background: #E9ECEF;
}

.list-group-item.active a {
    color: #000000;
    font-weight: 600;
}

.main-content {
    margin-top: 40px;
}

/* Table */
.container-table {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.header-table {
    padding: 20px 20px 5px 20px;
}

/* button */

.btn {
    margin-left: 10px;
    white-space: nowrap;
    outline: none;
}

.btn img {
    margin-right: 5px;
}

.btn-add {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    background-color: #7B66FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.btn-add:hover {
    background-color: #664ffd;
}

.btn-edit {
    background: #A0FFC1;
    box-shadow: 0px 0px 1px #6FFF16;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #365440;
}

.btn-edit:hover {
    background: #68fd9c;
}

.btn-delete {
    background: #FECDCD;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FF0000;
}

.btn-delete:hover {
    background: #fdafaf;
    color: #FF0000;
}


.btn-active {
    background: #A0FFC1;
    box-shadow: 0px 0px 1px #6FFF16;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #365440;
}

.btn-active:hover {
    background: #68fd9c;
}

.btn-inactive {
    background: #FECDCD;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FF0000;
}

.btn-inactive:hover {
    background: #fdafaf;
    color: #FF0000;
}

/* Pagination */
.container-pagination {
    display: flex;
    align-items: center;
    padding: 2em;
}

.pagination {
    margin-bottom: 0;
    margin-left: 30px;
}

.display-number-record {
    line-height: 1;
}

#ddlDemoDropdown li {
    position: relative;
}

#ddlDemoDropdown li.init::after {
    content: "\25BE";
    position: absolute;
    right: 2px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 20px;
}

#ddlDemoDropdown {
    height: 30px;
    width: 40px;
    margin: 0 40px 0 0;
}

#ddlDemoDropdown li {
    padding: 5px 10px;
    z-index: 2;
}

#ddlDemoDropdown li:not(.init) {
    float: left;
    width: 40px;
    display: none;
    background: #ddd;
}

#ddlDemoDropdown li:not(.init):hover,
#ddlDemoDropdown li.selected:not(.init) {
    background: #09f;
}

li.init {
    cursor: pointer;
}

a#submit {
    z-index: 1;
}

.card-img-top {
    width: 60px;
    height: 60px;
}

.card {
    color: #011B9F;
    border-radius: 12px;
}

.card-title {
    font-size: 32px;
    font-weight: 700;
}

.card-text {
    font-size: 14px;
    font-weight: 500;
}

.card-channels {
    background: #DED2FF;
}

.card-devices {
    background: #C7E3FB;
}